<div class="page">
  <div class="page__hd">

    <img md-card-sm-image class="cricle" src="http://weixin.zzu.edu.cn/Uploads/Editor/2016-08-23/57bc13a744580.jpg">
    <div>
    <div class="avatar__name">Badge</div>
    <div class="avatar__sub">subBadge</div>
    </div>
  </div>

<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>

</div>
