<div class="page hide__flow">
  <div class="page__hd">

    <img md-card-sm-image class="cricle" src="http://weixin.zzu.edu.cn/Uploads/Editor/2016-08-23/57bc13a744580.jpg">
    <div>
    <div class="avatar__name">Badge</div>
    <div class="avatar__sub">subBadge</div>
    </div>
  </div>
<h1 class="text__center welcome">欢迎您!</h1>



<div class="bottom__button">
<a routerLink="/register/step2" class="weui-btn weui-btn_plain-primary">现在注册</a>
</div>
</div>
<div class="weui-footer">
            <p class="weui-footer__text">Copyright © 2014-2016 irenmai.top</p>
</div>