<div class="panel" style="padding-top: 1rem;">
	<div class="page__bd">
		<div class="weui-panel weui-panel_access weui-cell_access">
			<div class="weui-panel__bd">

				<a routerLink="/set/base" class="weui-media-box weui-media-box_appmsg">
					<div *ngIf="user" class="weui-media-box__hd avatar" [ngStyle]="{'background-image': 'url('+(user)?.avatar+')'}" >
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title"></h4>
						<p class="weui-media-box__desc"></p>
					</div>
					<div class="weui-cell__ft">基础设置</div>
				</a>

			</div>
		</div>

		<div class="weui-cells weui-cells_form">
			<div class="weui-cell weui-cell_switch">
				<div class="weui-cell__bd">开启精准匹配</div>
				<div class="weui-cell__ft">
					<input #check checked="user?.is_show" class="weui-switch" (change)="onit(check)"  type="checkbox">
				</div>
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>