<div *ngIf="user" class="panel" style="padding-top: 1rem;">
	<div class="page__bd">
		<div class="weui-panel weui-panel_access weui-cell_access">
			<div class="weui-panel__bd">

				<a routerLink="/set/base" class="weui-media-box weui-media-box_appmsg">
					<div  class="weui-media-box__hd avatar" [ngStyle]="{'background-image': 'url('+user?.avatar+')'}" >
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title"></h4>
						<p class="weui-media-box__desc"></p>
					</div>
					<div class="weui-cell__ft">基础设置</div>
				</a>

			</div>
		</div>

		<div class="weui-cells weui-cells_form">
			<div class="weui-cell weui-cell_switch">
				<div class="weui-cell__bd">开启精准匹配</div>
				<div class="weui-cell__ft">
					<input #check [checked]="isprecision" class="weui-switch" (change)="onit(check)"  type="checkbox">
				</div>
			</div>
		</div>
		 <div *ngIf="!isprecision"  style="text-align: center;" class="weui-panel__hd">未开启精准查找</div>
		 <div *ngIf="isprecision">
			<div class="weui-cells__title">精准人脉设置详情</div>
			<div class="weui-cells">
            <!--<a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>区域</p>
                </div>
                <div class="weui-cell__ft">河南</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>行业</p>
                </div>
                <div class="weui-cell__ft">全部</div>
            </a>-->
			
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd">
                    <select #sex class="weui-select" (change)="setSex(sex.value)" name="sex" style="direction: rtl;">
                        <option [selected]="item.value === user.spreSex?true:false" [value]="item.value" *ngFor="let item of sexs">{{item.viewValue}}</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_switch">
				<div class="weui-cell__bd">仅查找有二维码</div>
				<div class="weui-cell__ft">
					<input #qr class="weui-switch" [checked]="user.spreQr?true:false" (change)="setQr(qr.checked)"  type="checkbox">
				</div>
			</div>
        </div>
		 </div>
	</div>
</div>

<div *ngIf="!user">loading...</div>