  <div *ngIf="!info">loading</div>
  <md-card *ngIf="info">
    <md-card-header>
      <img md-card-avatar src="{{info?.headimgurl}}">
      <md-card-title>{{info?.nickname}}</md-card-title>
      <md-card-subtitle>{{info?.myswear}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="https://material.angularjs.org/latest/img/washedout.png">
    <md-card-content>
      <p>Here is some content</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>