<div class="page hide__flow">
  <div class="page__hd">

    <img md-card-sm-image class="cricle" src="{{user?.avatar}}">
    <div>
    <div class="avatar__name">{{user?.name}}</div>
    <div class="avatar__sub">{{user?.region}}</div>
    </div>
  </div>
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>上传二维码</p>
      </div>
      <div class="weui-cell__ft">
        <app-avatar-upload [status]="status"></app-avatar-upload>
      </div>
    </div>
  </div>
<div class="weui-cells__title">自我介绍</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <textarea #text class="weui-textarea" (keyup)="characterCount(text)" maxlength="50" placeholder="请在此输入文字让大家认识您" rows="3"></textarea>
        <div class="weui-textarea-counter"><span>{{cnt}}</span>/50</div>
      </div>
    </div>
</div>
  <div class="second__button">
    <a (click)="subReg(text.value)" class="weui-btn weui-btn_plain-default">提交注册</a>
  </div>
</div>
<div *ngIf="show_tip" class="weui-toptips weui-toptips_warn js_tooltips" >{{show_tip}}</div>
<div class="weui-footer">
  <p class="weui-footer__text">Copyright © 2014-2016 irenmai.top</p>
</div>