
<div class="weui-tab">
            <div class="weui-tab__panel">
                <router-outlet></router-outlet>
            </div>
            <div class="weui-tabbar">
                <a routerLink="/lists/index" routerLinkActive="weui-bar__item_on" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    </span>
                    <p class="weui-tabbar__label">人脉</p>
                </a>
                <a routerLink="/register/step1" routerLinkActive="weui-bar__item_on" class="weui-tabbar__item">
                    <img src="icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">注册</p>
                </a>
                <a routerLink="/set/index" routerLinkActive="weui-bar__item_on" class="weui-tabbar__item ">
                    <img src="icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">我</p>
                </a>
            </div>
        </div>