<md-list *ngIf="tab === 'index'  && status">
  <div class="search-results" infinite-scroll [infiniteScrollDisabled] = 'ScrollDisabled' (scrolled)="onScrollDown()">
    <md-list-item (click)="getDetail(list?.id)" *ngFor="let list of lists">
      <img md-list-avatar src="{{list?.headimgurl}}">
      <h3 md-line> {{list?.nickname}} </h3>
      <p md-line>
        <span> {{list?.province}}.{{list?.city}}</span>
        <span class="demo-2"> -- {{list?.myswear}} </span>
      </p>
    </md-list-item>
  </div>
</md-list>
<md-list *ngIf="tab === 'group'  && status">
  <div class="search-results" infinite-scroll  (scrolled)="onScrollDown()" [infiniteScrollDisabled] = 'ScrollDisabled'>
    <md-list-item (click)="getDetail(list?.id)" *ngFor="let list of lists">
      <img md-list-avatar src="{{list?.headimgurl}}">
      <h3 md-line> {{list?.group_name}} </h3>
      <p md-line>
        <span> {{list?.province}}.{{list?.city}}</span>
        <span class="demo-2"> -- {{list?.group_intro}} </span>
      </p>
    </md-list-item>
  </div>
</md-list>
<md-list *ngIf="tab === 'precision'  && status">
  <div class="search-results" infinite-scroll  (scrolled)="onScrollDown()" [infiniteScrollDisabled] = 'ScrollDisabled'>
    <md-list-item (click)="getDetail(list?.id)" *ngFor="let list of lists">
      <img md-list-avatar src="{{list?.headimgurl}}">
      <h3 md-line> {{list?.nickname}} </h3>
      <p md-line>
        <span> {{list?.province}}.{{list?.city}}</span>
        <span class="demo-2"> -- {{list?.group_intro}} </span>
      </p>
    </md-list-item>
  </div>
</md-list>
<div *ngIf="!lists && status">暂无内容！</div>
<div *ngIf="!status">loading...</div>

<span *ngIf="!cooltime" class="app-action" >
  <button md-fab (click)="upTop()" >
      <md-icon class="md-48">expand_less</md-icon>
    </button>
</span>
<span *ngIf="cooltime" class="app-action" >
  <button md-fab disabled>
      {{cooltime}}
    </button>
</span>