<md-list *ngIf="tab === 'index'">
  <div class="search-results" infinite-scroll [infiniteScrollDisabled] = 'ScrollDisabled' (scrolled)="onScrollDown()">
    <md-list-item (click)="getDetail(list?.id)" *ngFor="let list of lists">
      <img md-list-avatar src="{{list?.headimgurl}}">
      <h3 md-line> {{list?.nickname}} </h3>
      <p md-line>
        <span> {{list?.province}}.{{list?.city}}</span>
        <span class="demo-2"> -- {{list?.myswear}} </span>
      </p>
    </md-list-item>
  </div>
</md-list>
<md-list *ngIf="tab === 'group'">
  <div class="search-results" infinite-scroll  (scrolled)="onScrollDown()" [infiniteScrollDisabled] = 'ScrollDisabled'>
    <md-list-item (click)="getDetail(list?.id)" *ngFor="let list of lists">
      <img md-list-avatar src="{{list?.headimgurl}}">
      <h3 md-line> {{list?.group_name}} </h3>
      <p md-line>
        <span> {{list?.province}}.{{list?.city}}</span>
        <span class="demo-2"> -- {{list?.group_intro}} </span>
      </p>
    </md-list-item>
  </div>
</md-list>
<span class="app-action" >
  <button md-fab (click)="upTop()" >
      <md-icon class="md-48">expand_less</md-icon>
    </button>
</span>