<div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">注册成功</h2>
            <p class="weui-msg__desc">为保证注册用户的权益，请耐心等待审核通过（5-30分钟）</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright © 2014-2016 irenmai.top</p>
            </div>
        </div>
    </div>